/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ROOT */

:root {
    --grey-raven: #2c2c2c;
    --mountain-surface: #7c7c7c;
    --soft-pillow: #ececec;
}

/* GENERAL */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inconsolata', monospace;
    font-size: 1.6rem;
    color: var(--grey-raven);
    background-color: var(--soft-pillow);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

a {
    color: var(--grey-raven);
    text-decoration: none;
}

/* HEADER */

header {
    padding: 2rem;
}

nav {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

nav a {
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--mountain-surface);
}

/* MAIN */

section {
    padding: 4rem 25rem;
}

/* ABOUT */

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.about-content img {
    border-radius: 50%;
    width: 100%;
    height: auto;
    max-width: 22rem;
}

.about-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-socials img {
    width: 2.5rem;
    height: 2.5rem;
}

/* SKILLS */

.skills-content {
    display: flex;
    gap: 2rem;
}

.skills-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: left;
    max-width: 30rem;
}

.skills-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
    width: 100%;
}

.skills-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--mountain-surface);
    border-radius: 1rem;
    padding: 0.5rem;
    user-select: none;
}

.skills-card p {
    color: var(--mountain-surface);
}

/* PROJECTS */

.projects-content {
    display: flex;
    gap: 2rem;
}

.projects-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: left;
    max-width: 35rem;
}

.projects-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
    width: 100%;
}

.projects-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--mountain-surface);
    border-radius: 1rem;
    padding: 0.5rem;
    user-select: none;
}

.projects-card p {
    color: var(--mountain-surface);
}

/* FOOTER */

footer {
    padding: 3rem;
    margin-top: auto;
    font-size: 1.4rem;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.footer-info a {
    color: var(--mountain-surface);
}

.footer-content p {
    color: var(--mountain-surface);
}

/* MEDIA QUERIES */

@media (1520px <= width <= 1700px) {
    section {
        padding: 4rem 15rem;
    }
}

@media (1423px <= width <= 1520px) {
    section {
        padding: 4rem 12rem;
    }
}

@media (1359px <= width <= 1423px) {
    section {
        padding: 4rem 10rem;
    }
}

@media (1295px <= width <= 1359px) {
    section {
        padding: 4rem 8rem;
    }
}

@media (1231px <= width <= 1295px) {
    section {
        padding: 2rem 6rem;
    }

    footer {
        padding: 2rem;
    }

    .footer-info {
        gap: 4rem
    }
}

@media (1134px <= width <= 1231px) {
    section {
        padding: 2rem 6rem;
    }

    .skills-grid,
    .projects-grid {
        grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    }

    footer {
        padding: 2rem;
    }

    .footer-info {
        gap: 4rem
    }
}

@media (1039px <= width <= 1134px) {
    body {
        font-size: 1.4rem;
    }

    section {
        padding: 2rem 6rem;
    }

    h2 {
        font-size: 2rem;
    }

    .about-content img {
        max-width: 18rem;
    }

    .about-socials img {
        width: 2rem;
        height: 2rem;
    }

    .skills-grid,
    .projects-grid {
        grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    }

    footer {
        padding: 2rem;
        font-size: 1.2rem;
    }

    .footer-info {
        gap: 4rem
    }
}

@media (975px <= width <= 1039px) {
    body {
        font-size: 1.4rem;
    }

    section {
        padding: 2rem 4rem;
    }

    h2 {
        font-size: 2rem;
    }

    .about-content img {
        max-width: 18rem;
    }

    .about-socials img {
        width: 2rem;
        height: 2rem;
    }

    .skills-grid,
    .projects-grid {
        grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    }

    footer {
        padding: 2rem;
        font-size: 1.2rem;
    }

    .footer-info {
        gap: 4rem
    }
}

@media (783px <= width <= 975px) {
    body {
        font-size: 1.4rem;
    }

    section {
        padding: 2rem 4rem;
    }

    h2 {
        font-size: 2rem;
    }

    .about-content img {
        max-width: 18rem;
    }

    .about-socials img {
        width: 2rem;
        height: 2rem;
    }

    .skills-content {
        flex-direction: column;
    }

    .projects-content {
        flex-direction: column-reverse;
    }

    .skills-info,
    .projects-info {
        max-width: none;
        width: 100%;
    }

    .skills-grid,
    .projects-grid {
        grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    }

    footer {
        padding: 2rem;
        font-size: 1.2rem;
    }

    .footer-info {
        gap: 4rem
    }
}

@media (656px <= width <= 783px) {
    body {
        font-size: 1.2rem;
    }

    section {
        padding: 2rem 4rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    .about-content img {
        max-width: 16rem;
    }

    .about-socials img {
        width: 1.8rem;
        height: 1.8rem;
    }

    .skills-content {
        flex-direction: column;
    }

    .projects-content {
        flex-direction: column-reverse;
    }

    .skills-info,
    .projects-info {
        max-width: none;
        width: 100%;
    }

    .skills-grid,
    .projects-grid {
        grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    }

    footer {
        padding: 2rem;
        font-size: 1rem;
    }

    .footer-info {
        gap: 4rem
    }
}

@media (565px <= width <= 656px) {
    body {
        font-size: 1rem;
    }

    section {
        padding: 2rem 3rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    .about-content img {
        max-width: 14rem;
    }

    .about-socials img {
        width: 1.6rem;
        height: 1.6rem;
    }

    .skills-content {
        flex-direction: column;
    }

    .projects-content {
        flex-direction: column-reverse;
    }

    .skills-info,
    .projects-info {
        max-width: none;
        width: 100%;
    }

    .skills-grid,
    .projects-grid {
        grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    }

    footer {
        padding: 1rem;
        font-size: 0.8rem;
    }

    .footer-info {
        gap: 3rem
    }
}

@media (360px <= width <= 565px) {
    body {
        font-size: 1rem;
    }

    header {
        padding: 1rem;
    }

    nav {
        gap: 1rem
    }

    section {
        padding: 1rem 2rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    .about-content img {
        max-width: 14rem;
    }

    .about-socials img {
        width: 1.6rem;
        height: 1.6rem;
    }

    .about-content,
    .skills-content {
        flex-direction: column;
    }

    .projects-content {
        flex-direction: column-reverse;
    }

    .skills-info,
    .projects-info {
        max-width: none;
        width: 100%;
    }

    .skills-grid,
    .projects-grid {
        grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    }

    footer {
        padding: 1rem;
        font-size: 0.8rem;
    }

    .footer-info {
        gap: 2rem
    }
}

@media (width <= 360px) {
    body {
        font-size: 0.8rem;
    }

    header {
        padding: 0.5rem;
    }

    nav {
        gap: 1rem
    }

    section {
        padding: 1rem 2rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    .about-content img {
        max-width: 12rem;
    }

    .about-socials img {
        width: 1.4rem;
        height: 1.4rem;
    }

    .about-content,
    .skills-content {
        flex-direction: column;
    }

    .projects-content {
        flex-direction: column-reverse;
    }

    .skills-info,
    .projects-info {
        max-width: none;
        width: 100%;
    }

    .skills-grid,
    .projects-grid {
        grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    }

    footer {
        padding: 1rem;
        font-size: 0.6rem;
    }

    .footer-info {
        gap: 2rem
    }
}


