/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ROOT */

:root {
    --grey-raven: rgb(44, 44, 44);
    --mountain-surface: rgb(124, 124, 124);
    --soft-pillow: rgb(236, 236, 236);
}

/* GENERAL */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inconsolata', monospace;
    font-size: 1.4rem;
    background-color: var(--soft-pillow);
}

a {
    color: var(--grey-raven);
    text-decoration: none;
}

p {
    font-size: 1.4rem;
}

/* HEADER */

header {
    padding: 2rem;
}

.header-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    user-select: none;
}

.header-logo p {
    font-size: 1.8rem;
}

nav {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav a {
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--mountain-surface);
}

/* MAIN */

section {
    padding: 4rem 20rem;
}

/* ABOUT */

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.about-content img {
    border-radius: 50%;
    width: 100%;
    height: auto;
    max-width: 25rem;
}

.about-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-socials img {
    width: 2.5rem;
    height: 2.5rem;
}

/* SKILLS */

.skills-content {
    display: flex;
    gap: 2rem;
}

.skills-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: left;
    max-width: 30rem;
}

.skills-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    gap: 1rem;
    width: 100%;
}

.skills-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--mountain-surface);
    border-radius: 1rem;
    padding: 0.5rem;
    user-select: none;
}

.skills-card p {
    color: var(--mountain-surface);
}

/* PROJECTS */

.projects-content {
    display: flex;
    gap: 2rem;
}

.projects-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: left;
    max-width: 30rem;
}

.projects-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    gap: 1rem;
    width: 100%;
}

.projects-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--mountain-surface);
    border-radius: 1rem;
    padding: 0.5rem;
    user-select: none;
}

.projects-card p {
    color: var(--mountain-surface);
}

/* FOOTER */

footer {
    padding: 2rem;
    margin-top: auto;
}

.footer-content {
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.footer-info a {
    color: var(--mountain-surface);
    font-size: 1.2rem;
}

.footer-content p {
    color: var(--mountain-surface);
    font-size: 1.2rem;
}